* { box-sizing: border-box; }

html, body {
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.content {
  min-height: 100%;
  padding: 50px 30px;
  text-align: center;
  width: 100%;
}

#intro {
  background-color: #009c41;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#intro > img {
  border-radius: 50%; /* Bordo Redondeado */
  height: 200px;
  width: 200px;
}
